#body {
  margin-top: 60px;
}
.navbar-brand {
    position: relative;
    width: 50px;
    left: 15px;
}

.navbar-toggler {
  font-size:15px;
}
.navbar-logo {
  vertical-align: top;
}
.navbar {
  list-style-type: none;
  /* this is what will keep the navbar from stretching */
  max-height: 60px;
  margin:0 !important;
  padding: 0px !important;
}
.navbar li {
  display: inline;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-nav .nav-item:hover .nav-link {
color: #c7cad1;
}
.flash {
  margin: 0;
}