.body {
    margin:0px;
    width: 100%;
    height: 100%;
}

.darken {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(/static/images/login.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.fixed {
  position: fixed;
}
img {
    padding: 0px;
    margin: 0px;
}
.card-body {
    padding: 0px;
}