th, td {
  padding: 10px;
  text-align: left;
  color: white;
}

tbody {
  overflow-y: auto;
/*  overflow-x: hidden;
*/}

table {
  background-color: rgba(255, 255, 255, 0.6);
  /*opacity: 10%*/;
}

tr:nth-child(even) {
  /*background-color: #47566f;*/
  /*background-color: #667a9d;*/
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15)
  );
  /*);*/
}

/*tr:nth-child(even) {
  background-color: #293240;
}*/

th {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15)
  );
}

a.add {
    color: #57C491;
}
a.edit {
    color: #6EC457;
}
a.delete {
    color: #B23B12;
}
i {
    font-size: 19px;
}
a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}
a.link {
  color: #293240;
}    
.add {
    display: none;
}