<!DOCTYPE html>
<html>
<head>
    <title>
    {% block title %}
    Gouda Thyme
    {% endblock %}
    </title>
    <script src="http://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
    // Makes an alert listen for click events on descendant elements which have the data-dismiss="alert" attribute
    $( document ).ready(function() {
      $().alert()
    });
    </script>
    <link href="/static/base.css" rel="stylesheet" type="text/css">
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #293240;">
  {% if session.get('user_id') %}
    <a class="navbar-brand" href="/my-items/{{session['user_id']}}">
      <img class="navbar-logo" src="/static/images/gouda-time-logo.png" width="50" alt="">
    </a>
  {% else %}
    <a class="navbar-brand" href="/">
      <img class="navbar-logo" src="/static/images/gouda-time-logo.png" width="50" alt="">
    </a>
  {% endif %}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if session.get('user_id') %}
          <li class="nav-item">
            <a class="nav-link" href="/my-items/{{session['user_id']}}">My Kitchen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shopping-list/{{session['user_id']}}">Grocery List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recipes/{{session['user_id']}}">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recipe-search/{{session['user_id']}}">Search Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile/{{session['user_id']}}">Profile</a>
          </li>
        {% endif %}  
      </ul>
      <div class="navbar ml-auto" id="navbarText">
      <ul class="navbar-nav">
        {% if session.get('user_id') %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
        {% else %}
          <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/login">Create Account</a>
          </li>
        {% endif %}
      </ul>
      </div>
    </div>
</nav>

<div id="body">
  {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show flash" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  {% endfor %}

  {% block content %} 
  BODY CONTENT GOES HERE
  {% endblock %}
</div>

</body>
</html>