{% extends 'base.html' %}
{% block head %}
<link href="/static/index.css" rel="stylesheet" type="text/css">
<link href="/static/login.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="body fixed">
    <div class="page-holder bg-cover darken">
        <div class="row justify-content-center">
            <div class="col-4">
                <h1><br></h1>
                <img src="/static/images/gouda-time-logo.png">
                <div class="card-transparent">
                    <article class="card-body">
                    <h4 class="card-title text-center white">Sign in</h4>
                    <hr>
                    <form action="/login" method="POST">
                    <div class="form-group form-label-group input-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="username" class="form-control" placeholder="User Name" required>
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input name="password" class="form-control" placeholder="Password" type="password" required>
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-light"> Login  </button>
                    </div> <!-- form-group// -->
                    <p class="text-center"><a class="link" href="/register" class="btn btn-link">Create an Account</a></p>
                    </form>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}