{% extends 'base.html' %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="../static/table.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>Hello there, {{user.fname}}!</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-8" style="overflow-x:auto;">
            <h4>This is what you have logged in your kitchen so far:</h4>
            <form id="update-kitchen" action="/update-kitchen" method="POST">
              <table>
                  <thead>
                      <tr>
                          <th>Ingredient</th>
                          <th>Expiration Date</th>
                          <th>Running Low</th>
                          <th>Notes</th>
                          <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody id="current-ings">
                        {% for item in items %}
                          <tr data-item_id="{{item.item_id}}">
                            {% if item.ingredients.api_id %}
                              <td><a href="/ingredient/{{item.ingredients.api_id}}">{{item.ingredients.name}}</a></td>
                            {% else %}
                              <td>{{item.ingredients.name}}</td>
                            {% endif %}
                            <td>{{item.expiration_date.strftime("%A, %B %d, %Y") if item.expiration_date else "None"}}</td>
                            <td>{{item.running_low}}</td>
                            <td>{{item.notes}}</td>
                            <td>
                              <button type="button" class="add" title="Add" data-toggle="tooltip" data-placement="top"><i class="material-icons">&#xE03B;</i></button>
                              <a class="edit" title="Edit" data-toggle="tooltip" data-placement="top"><i class="material-icons">&#xE254;</i></a>
                              <a class="delete" title="Delete" data-toggle="tooltip" data-placement="top"><i class="material-icons">&#xE872;</i></a>
                            </td>
                          </tr>
                        {% endfor %}
                  </tbody>
              </table>
            </form>
        </div>

        <div class="col-4">
            <h4>What else is in your kitchen?</h4>
            <form id="add-to-kitchen" action="/add-to-kitchen" method="POST">
                <select class="new-ingredient form-control" name="ingredients" multiple="multiple" id="to-add">
                    {% for ingredient in ingredients %}
                    <option value={{ingredient.ing_id}}>{{ingredient.name}}</option>
                    {% endfor %}
                </select>

                <button type="submit">Add Ingredient!</button>
            </form><br>
            <!-- <script src="JAVASCRIPT LOCATION"></script>
             -->
             <script>
                $('#add-to-kitchen').on('submit', (evt) => {
                  evt.preventDefault();

                  const formInputs = $(`#to-add`).serialize();

                  $.post('/add-to-kitchen', formInputs, (res) => {
                    for (const item of res) {
                      let expiration = "None";
                      if (item.expiration_date) {
                        expiration = item.expiration_date
                      };
                      let low = "None";
                      if (item.running_low) {
                        low = item.running_low
                      };
                      let notes = "None";
                      if (item.notes) {
                        const notes = item.notes
                      };
                      let name_td = ""
                      if (item.api_id != null) {
                        name_td = "<td><a href='/ingredient/" + item.api_id + "'>" + item.ingredient_name + "</a></td>"
                      } else {
                        name_td = "<td>" + item.ingredient_name + "</td>"
                      };
                      $('#current-ings').append(
                          `<tr data-item_id="${item.item_id}"">
                              ${name_td}
                              <td>${expiration}</td>
                              <td>${low}</td>
                              <td>${notes}</td>
                              <td>
                                <button type="button" class="add" title="Add" data-toggle="tooltip" data-placement="top"><i class="material-icons">&#xE03B;</i></button>
                                  <a class="edit" title="Edit" data-toggle="tooltip" data-placement="top"><i class="material-icons">&#xE254;</i></a>
                                  <a class="delete" title="Delete" data-toggle="tooltip" data-placement="top"><i class="material-icons">&#xE872;</i></a>
                              </td>
                          </tr>`
                          );
                  }});
                  // Clear select box each time user adds ingredient
                  $(".new-ingredient").val('').trigger('change');
                });
                // Let user add new ingredient (to their list and to ingredients table)
              $(document).ready(function() {
                  $('.new-ingredient').select2({
                    // Allows user to create new option if it isn't in options
                    tags: true,
                    placeholder: "Enter an Ingredient",
                    // Creates new tag when "," is entered
                    tokenSeparators: [','],
                    createTag: function (params) {
                      const term = $.trim(params.term);

                      if (term === '') {
                        return null;
                      }

                      return {
                        id: term,
                        text: term,
                        newTag: true // add additional parameters
                      }
                    }
                });
                // $('submit').on('click', (evt) => {
              });
            // $(document).ready(function () {
            //   $('[data-toggle="tooltip"]').tooltip();
            // })
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip({ trigger: "hover" });
                // Edit row on edit button click
                $(document).on("click", ".edit", function(){
                    $(this).parents("tr").find("td:nth-child(2)").each(function(){
                        $(this).html('<input type="date" id="date" class="form-control" value="' + $(this).val() + '">');
                    });
                    $(this).parents("tr").find("td:nth-child(3)").each(function(){
                        $(this).html('<input type="checkbox" id="low" ' + 
                          (($(this).text() === "True") ? 'checked' : '') + '>');
                    });
                    $(this).parents("tr").find("td:nth-child(4)").each(function(){
                        $(this).html('<input type="text" id="notes" class="form-control" value="' + $(this).text() + '">');
                    });     
                    $(this).parents("tr").find(".add, .edit").toggle();
                });
                // Delete row on delete button click
                $(document).on("click", ".delete", (evt) => {
                    const row = $(evt.target).parents("tr");
                    $('[data-toggle="tooltip"]').tooltip("hide");
                    const formInputs = {
                      'item_id': row.data('item_id')
                    };
                    row.remove();
                    $.post('/delete-row', formInputs, (res) => {});
                    })
            });

            $('#update-kitchen').on('click', 'button.add', (evt) => {
                  evt.preventDefault();
                  const row = $(evt.target).parents("tr");
                   const formInputs = {
                      'item_id': row.data('item_id'),
                      'date': row.find('#date').val(),
                      'low': row.find('#low').is(':checked'),
                      'notes': row.find('#notes').val()
                    };

                  $.post('/update-kitchen', formInputs, (res) => {
                    row.find("td:nth-child(2)").each(function(){
                        $(this).html((res.expiration_date == null) ? 'None':res.expiration_date);
                      });
                    row.find("td:nth-child(3)").each(function(){
                        $(this).html((res.running_low == true) ? 'True':'False');
                      });
                    row.find("td:nth-child(4)").each(function(){
                        $(this).html(res.notes);
                      });
                    row.find(".add, .edit").toggle();
                  });
                });
            </script>
            </div>
    </div>
</div>
{% endblock %}
