{% extends 'base.html' %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="/static/table.css" rel="stylesheet">
<link href="/static/index.css" rel="stylesheet" type="text/css">
<link href="/static/items.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="body fixed">
<div class="page-holder bg-cover darken">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-6" style="overflow-x:auto;">
        <h1 class="white">Hello there, {{user.fname}}!</h1>
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8" style="overflow-x:auto;">
            <h4 class="white">This is what you have logged in your kitchen so far:</h4>
            <form id="update-kitchen" action="/update-kitchen" method="POST">
              <table class="scroll">
                  <thead>
                      <tr>
                          <th>Ingredient</th>
                          <th>Expiration Date</th>
                          <th>Running Low</th>
                          <th>Notes</th>
                          <th class="thin">Actions</th>
                      </tr>
                  </thead>
                  <tbody id="current-ings">
                        {% for item in items %}
                          <tr data-item_id="{{item.item_id}}">
                            {% if item.ingredients.api_id %}
                              <td><a class="link" href="/ingredient/{{item.ingredients.api_id}}">{{item.ingredients.name}}</a></td>
                            {% else %}
                              <td>{{item.ingredients.name}}</td>
                            {% endif %}
                            <td>{{item.expiration_date.strftime("%A, %B %d, %Y") if item.expiration_date else "None"}}</td>
                            <td>{{item.running_low}}</td>
                            <td>{{item.notes}}</td>
                            <td class="thin">
                              <a class="add" title="Update" data-toggle="tooltip" data-placement="left"><i class="material-icons">&#xE03B;</i></a>
                              <a class="edit" title="Edit" data-toggle="tooltip" data-placement="left"><i class="material-icons">&#xE254;</i></a>
                              <a class="delete" title="Delete" data-toggle="tooltip" data-placement="left"><i class="material-icons">&#xE872;</i></a>
                            </td>
                          </tr>
                        {% endfor %}
                  </tbody>
              </table>
            </form>
        </div>

        <div class="col-4">
          <div class="fixed">
            <h4 class="white">What else is in your kitchen?</h4>
            <form id="add-to-kitchen" action="/add-to-kitchen" method="POST">
                <select class="new-ingredient form-control" name="ingredients" multiple="multiple" id="to-add">
                    {% for ingredient in ingredients %}
                    <option value={{ingredient.ing_id}}>{{ingredient.name}}</option>
                    {% endfor %}
                </select>
                <div class="submit">
                  <button type="submit" class="btn btn-outline-light">Add Ingredient!</button>
                </div>
            </form><br>
          </div>
        </div>
    </div>
  </div>
</div>

<script src="/static/items.js"></script>
{% endblock %}
