{% extends 'base.html' %}

{% block head %}
<script src="/static/profile.js"></script>
<link href="/static/index.css" rel="stylesheet" type="text/css">
<link href="/static/profile.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="body fixed">
    <div class="page-holder bg-cover darken">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-3" style="overflow-x:auto;">
                    <br>
                    <h3 data-user_id="{{user.user_id}}">Your Profile:</h3>
                    <p><b>Username: </b><span id="username">{{ user.username }}</span></p>
                    <p><b>First Name: </b><span id="fname">{{ user.fname }}</span></p>
                    <p><b>Last Name: </b><span id="lname">{{ user.lname }}</span></p>
                    <p><b>Email: </b><span id="email">{{ user.email }}</span></p>
                    <p><b>Phone: </b><span id="phone">{{ user.phone }}</span></p>
                    <button type="submit" class="profile btn btn-outline-dark" id="edit">Edit Profile</button>
                    <button type="submit" class="profile btn btn-outline-dark" id="update" style="display: none">Update Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}