{% extends 'base.html' %}

{% block head %}
<script>
    $(document).ready(function(){
        $(":button").on("click", function(){
            $(".profile").toggle()
        });
        $("#edit").on("click", function(){
            let phone = $("#phone").text()
            if (phone.length === 12){
                phone = phone.slice(2, 5) + "-" + phone.slice(5, 8) + "-" + phone.slice(8, 12)
            } else {
                phone = ""
            }
            $("#fname").html('<input type="text" id="firstname" value="' + $("#fname").text() + '">');
            $("#lname").html('<input type="text" id="lastname" value="' + $("#lname").text() + '">');
            $("#email").html('<input type="text" id="emailadd" value="' + $("#email").text() + '">');
            $("#phone").html('<input type="tel" id="phonenum" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Phone: 123-456-789" value="' + phone + '">');
        });
        $("#update").on("click", function(){
            const formInputs = {
                'user_id': $("h3").data('user_id'),
                'fname': $("#firstname").val(),
                'lname': $("#lastname").val(),
                'email': $("#emailadd").val(),
                'phone': $("#phonenum").val()
            };
            console.log(formInputs);
            $.post('/update-profile', formInputs, (res) => {
                $("#fname").html(res.fname);
                $("#lname").html(res.lname);
                $("#email").html(res.email);
                $("#phone").html(res.phone);
            });
        });
    });
</script>
{% endblock %}

{% block content %}
<h3 data-user_id="{{user.user_id}}">Your Profile:</h3>
<p><b>Username: </b><span id="username">{{ user.username }}</span></p>
<p><b>First Name: </b><span id="fname">{{ user.fname }}</span></p>
<p><b>Last Name: </b><span id="lname">{{ user.lname }}</span></p>
<p><b>Email: </b><span id="email">{{ user.email }}</span></p>
<p><b>Phone: </b><span id="phone">{{ user.phone }}</span></p>
<button type="submit" class="profile" id="edit">Edit Profile</button>
<button type="submit" class="profile" id="update" style="display: none">Update Profile</button>
{% endblock %}