{% extends 'base.html' %}

{% block head %}
<link href="/static/index.css" rel="stylesheet" type="text/css">
<link href="/static/recipe.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
<div class="body fixed">
    <div class="page-holder bg-cover darken">
        <h1 class="white">Here's what you can cook with what you have in your kitchen:</h1>
        <br>
        <div class="container-fluid">
            <div class="row justify-content-center">
                {% for recipes in [data[:6], data[6:12], data[12:]] %}
                <div class="col-3" style="overflow-x:auto;">
                    {% for recipe in recipes %}
                    <div class="card border-secondary mb-3">
                      <img src="{{recipe['image']}}" alt="{{recipe['title']}}" style="width:100%">
                      <div class="container">
                        <h4 class="recipe"><b><a href="/original/{{recipe['id']}}">{{recipe['title']}}</a></b></h4>
                        <p class="descriptor" data-id="{{recipe['id']}}" data-api="{{apiKey}}"></p>
                        {% if recipe['missedIngredients'] %}
                            <b>Missing Ingredients for this Recipe:</b>
                            <ul>
                            {% for item in recipe['missedIngredients'] %}
                                <li>{{item['name']}}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        {% if recipe['usedIngredients'] %}
                            <b>Ingredients Included in this Recipe:</b>
                            <ul>
                            {% for item in recipe['usedIngredients'] %}
                                <li>{{item['name']}}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                      </div>
                    </div><br>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
