{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block content %}
<h1>Here's what you can cook with what you have in your kitchen:</h1>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-4" style="overflow-x:auto;">
            {% for recipe in data[:6] %}
                <h3><a href="/original/{{recipe['id']}}">Recipe: {{recipe['title']}}</a></h3>
                <img src="{{recipe['image']}}" alt="{{recipe['title']}}"><br>
                <h5 class="descriptor" data-id="{{recipe['id']}}" data-api="{{apiKey}}"></h5>
                <h4>Missing Ingredients for this Recipe:</h4>
                <ul>
                {% for item in recipe['missedIngredients'] %}
                    <li>{{item['name']}}</li>
                {% endfor %}
                </ul>
                <h4>Ingredients Included in this Recipe:</h4>
                <ul>
                {% for item in recipe['usedIngredients'] %}
                    <li>{{item['name']}}</li>
                {% endfor %}
                </ul>
            {% endfor %}
        </div>
        <div class="col-4" style="overflow-x:auto;">
            {% for recipe in data[6:12] %}
                <h3><a href="/original/{{recipe['id']}}">Recipe: {{recipe['title']}}</a></h3>
                <img src="{{recipe['image']}}" alt="{{recipe['title']}}"><br>
                <h5 class="descriptor" data-id="{{recipe['id']}}" data-api="{{apiKey}}"></h5>
                <h4>Missing Ingredients for this Recipe:</h4>
                <ul>
                {% for item in recipe['missedIngredients'] %}
                    <li>{{item['name']}}</li>
                {% endfor %}
                </ul>
                <h4>Ingredients Included in this Recipe:</h4>
                <ul>
                {% for item in recipe['usedIngredients'] %}
                    <li>{{item['name']}}</li>
                {% endfor %}
                </ul>
            {% endfor %}
        </div>
        <div class="col-4" style="overflow-x:auto;">
            {% for recipe in data[12:] %}
                <h3><a href="/original/{{recipe['id']}}">Recipe: {{recipe['title']}}</a></h3>
                <img src="{{recipe['image']}}" alt="{{recipe['title']}}"><br>
                <h5 class="descriptor" data-id="{{recipe['id']}}" data-api="{{apiKey}}"></h5>
                <h4>Missing Ingredients for this Recipe:</h4>
                <ul>
                {% for item in recipe['missedIngredients'] %}
                    <li>{{item['name']}}</li>
                {% endfor %}
                </ul>
                <h4>Ingredients Included in this Recipe:</h4>
                <ul>
                {% for item in recipe['usedIngredients'] %}
                    <li>{{item['name']}}</li>
                {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
