{% extends 'base.html' %}

{% block head %}
<link href="../static/table.css" rel="stylesheet">
{% endblock %}


{% block content %}
<h3>Grocery List:</h3>
<form id="update-groceries">
    <table>
        <thead>
            <tr>
                <th>Ingredient</th>
                <th>Running Low</th>
            </tr>
        </thead>
        <tbody>
            {% for item in low_ingredients %}
                <tr>
                    {% if item.ingredients.api_id %}
                      <td><a href="/ingredient/{{item.ingredients.api_id}}">{{item.ingredients.name}}</a></td>
                    {% else %}
                      <td>{{item.ingredients.name}}</td>
                    {% endif %}
                    <td style="text-align:center;">
                        <input type="checkbox" name="ids" value="{{item.item_id}}" checked>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" id="update">Update Kitchen</button>
</form>

<script>
    $(document).ready(function(){
        $('#update-groceries').on('submit', (evt) => {
            evt.preventDefault();
            const inputs = [];
            $.each($("input[name='ids']:not(:checked)"), function(){
                inputs.push($(this).val());
            });
            const formInputs = {
                'item_ids': inputs
            }
            console.log(formInputs);
            console.log("hi");
            $.post('/update-groceries', formInputs, (res) => {
                $("input[name='ids']:not(:checked)").each( function(){
                $(this).parents("tr").remove();
            });
        });
    });
</script>

{% endblock %}
