{% extends 'base.html' %}

{% block head %}
<link href="../static/table.css" rel="stylesheet">
{% endblock %}


{% block content %}
<h3>Grocery List:</h3>
<form id="update-groceries" action="/update-groceries" method="POST">
    <table>
        <thead>
            <tr>
                <th>Ingredient</th>
                <th>Running Low</th>
            </tr>
        </thead>
        <tbody>
            {% for item in low_ingredients %}
                <tr>
                    {% if item.ingredients.api_id %}
                      <td><a href="/ingredient/{{item.ingredients.api_id}}">{{item.ingredients.name}}</a></td>
                    {% else %}
                      <td>{{item.ingredients.name}}</td>
                    {% endif %}
                    <td style="text-align:center;">
                        {% if item.running_low == true %}
                        <input type="checkbox" id="is_low" data-item_id="{{item.item_id}}" checked>
                        {% else %}
                        <input type="checkbox" id="is_low" data-item_id="{{item.item_id}}">
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Update Kitchen</button>
</form>
{% endblock %}

<script>
    $(#update-groceries).on('submit', (evt) => {
        evt.preventDefault();
        // const checked = [];

    //     $('input[type="checkbox"] :checked').each(function() {

    // // looping through each checkbox and storing values in array for checked ones.
    // allVals.push($(this).val());

    // });

        const row = $(evt.target).parents("tr");
        const formInputs = {
            'item_id': row.data('item_id'),
            'low': row.find('#is_low').is(':checked'),
        };
        console.log(row);
        console.log(formInputs)
        $.post('/update-groceries', formInputs, (res) => {
            row.remove();
        });
    });
</script>

